# Development dependencies
# Test with `python -m unittest`

black               # configured in pyproject.toml
isort               # configured in pyproject.toml
flake8              # configured in pyproject.toml
Flake8-pyproject    #   this enables flake8 to load its config from pyproject file.


pytest == 7.2.2            # Running unit tests (`pytest ./tests` instead of `python -m unittest`)
pytest-xdist == 3.2.1      # Parallel `pytest` (`python -m pytest -n auto ./tests`)
